@tailwind base;
@tailwind components;
@tailwind utilities;

 input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 18px;
   /* Thumb width */
   height: 18px;
   /* Thumb height */
   border-radius: 50%;
   /* Circular thumb */
   background: white;
   /* Thumb color */
   cursor: pointer;
   transition: background 0.3s ease;
 }

 ::-webkit-scrollbar{
   width: 6px;
   background-color: #1C2141;
   border-radius: 10px;
 }

 ::-webkit-scrollbar-thumb{
   background-color: #5E69DC;
   border-radius: 10px;
 }